* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
}

header {
  padding: 20px;
  font-family: sans-serif;
  background-color: #101010;
}

header a {
  color: white;
  font-size: 1.15rem;
  font-weight: bold;
}
